<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="fl-button">
  <template>
    <style>
      :host {
        display: inline-block;
      }

      .button {
        outline: none;
        font-size: 1rem;
        font-weight: 600;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6);
        white-space: nowrap;
        padding: 0.25rem 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        cursor: pointer;
      }

      .button:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1);
      }

      .button:active {
        background-color: #e9ecef;
        background-image: none;
        border-color: #aaa;
        box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
      }
    </style>

    <button class="button" type="button">[[value]]</button>
  </template>

  <script>
    class FlButton extends Polymer.Element {
      static get is() { return 'fl-button'; }

      static get properties() {
        return {
          value: {
            type: String,
          },
        };
      }
    }

    customElements.define(FlButton.is, FlButton);
  </script>
</dom-module>
